/* * {
    box-sizing: border-box;
}
.menu-button {
    padding: 16px;
    background-color: darkgreen;
    color: white;
    font-size: 16px;
    opacity: 0.8;
}
.menu-button:hover {
    opacity: 1
}
.dropdown {
    top: 16px;
    position: absolute;
    margin: 16px;
    cursor: pointer;
    display: inline-block;
}
.menu-list {
    display: none;
    top: 34px;
    margin: 0;
    padding: 0;
    background-color: lightcyan;
    color: black;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    min-width: 120px;
    z-index: 1;
    position: relative;
    list-style-type: none;  
}
.menu-item {
    padding: 16px;
}
.menu-item:hover {
    background-color: ghostwhite;
}
.dropdown:hover .menu-list {
    display: block;
} */

* {
    box-sizing: border-box;
}

.dropdown {
    margin: 16px;
    display: inline-block;
}

.menu-button {
    background-color: darkgreen;
    opacity: 0.8;
    color: white;
    font-size: 16px;
    padding: 16px;
    cursor: pointer;
    display: inline-block;
}

.menu-button:hover {
    opacity: 1;
}

.menu-list {
    margin: 0;
    padding: 0;
    background-color: lightcyan;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    width: 120px;
    z-index: 1;
    list-style-type: none;
    display: none;
}

.menu-item {
    padding: 16px;
}

.dropdown:hover .menu-list {
    display: block;
}

.menu-list:hover .menu-item {
    background-color: ghostwhite;
}
