* {
    box-sizing: border-box;
}
/* .buttonMargin {
    margin: 64px;
} */
.custom-button {
    margin: 64px;
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: coral;
    color: white;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    border: none;
    cursor: pointer;
    line-height: 50px;
}
.bird-icon {
    vertical-align: middle;
    height: 32px;
    width: 32px;  
    fill: white;
}
.custom-button:hover {
    color: darkcyan;
}
.bird-icon:hover {
    color: green;
    fill: white;
}
.custom-button:hover > .bird-icon {
    fill: green;
}