body {
    background-color: #bdc3c7;
}
h1 {
    color: #9b59b6;
}
h2 {
    color: orange;
}
li {
    color: blue;
}
p {
    background-color: yellow;
    font-size: 25px;
}
body>p {
    font-size: 15px; 
}
input {
    border: 3px solid red;
}
body>div>p.hello {
    background-color: white;
}
#special {
    border: 2px solid blue;
}
[type="text"] {
    background: gray;
}
div:nth-child(3) > p {
    background: yellow;
}
body>div>p:nth-child(2)  {
    border: 5px solid white;
}
body>div>p>em {
    color: white;
    font-size: 20px;
}