.horizontal {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.vertical {
    flex-direction: column;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}