header {
    display: flex;
    justify-content: center;
}
.article {
    width: 300px;
    margin: 8px;
    padding: 16px;
    background-color: bisque;
}
.articles-list {
    display: flex;
    flex-grow: 1;
}
