* {
    box-sizing: border-box;
}
.image-container {
    margin-top: 50px;
    margin-bottom: 50px;
    /* display: block; */
    display: flex;
}
.kartinka1 {
    margin: auto;
    max-width: 100%;
    border-radius: 20px;
}
.gallery {
    display: flex;
}
.card1 {
    margin: 16px;
    box-shadow: 0px 7px 18px -8px rgba(0, 0, 0, 0.75);
}
.card2 {
    filter: opacity(50%);
}
.card3 {
    filter: blur(4px);
}
.card4 {
    filter: invert(100%);
}
.podpis {
    line-height: 30px;
    text-align: center;
}