* {
    box-sizing: border-box;
}
.image-container {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}
.kartinka1 {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}
.gallery {
    display: flex;
}
.card {
    margin: 16px;
    box-shadow: 0px 7px 18px -8px rgba(0, 0, 0, 0.75);
}
.opacity {
    filter: opacity(50%);
}
.blur {
    filter: blur(4px);
}
.invert {
    filter: invert(100%);
}
.text {
    line-height: 30px;
    text-align: center;
}