.theory::first-letter {
    font-size: 36px;
    margin-left: 16px;
    color: orange;
}
h1::first-line {
    font-size: 24px;
    background-color: red;
    color: white;
}
a::after {
    content: '<';
}
a::before {
    content: '>';
}