* {
    box-sizing: border-box;
}
.container {
    margin: 32px;
}
.rect {
    vertical-align: middle;
    margin-bottom: 16px;
    background-color: coral;
    text-align: center;
    opacity: 0.5;
    width: 100px;
    height: 100px;
    transition: width 2s, opacity .5s;
    line-height: 100px;
}
.rect:hover {
    width: 100%;
    opacity: 1;
}
.rect.linear {
    transition-timing-function: linear;
}
.rect.ease {
    transition-timing-function: ease;
}
.rect.ease-in {
    transition-timing-function: ease-in;
}
.rect.ease-in-out {
    transition-timing-function: ease-in-out;
}